<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Patient List</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <!--<th>Contact Details</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.name}"></td>
            <td th:text="${patient.email}"></td>
           <!-- <td th:text="${patient.contactDetails}"></td>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>